/* font import */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
:root {
    --iphone-width: 375px; 
    --tablet-width: 1024px;
    --arrow-btn-size: 55px; 

    --txt-color: white; 
    --bg-main-color: rgb(46, 42, 42); 
    --bg-header-color: rgb(9, 8, 8); 
    --snake-color: hsl(116, 44%, 30%);
    --food-color: hsl(50, 100%, 50%);
    --grid-node-border: .25vmin solid black;
}
* {
    font-family: 'Share Tech Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: ease;
}
html {
    height: 100vh; 
    width: 100vw; 
}
.snake, .food {
    display: grid;
    border: var(--grid-node-border); 
    transition: 200ms linear;
}
.snake {
    background-color: var(--snake-color);
}
.food {
    background-color: var(--food-color); 
}
body {
    display: grid;
    grid-template-rows: 15% 85%; 
    background-color: var(--bg-main-color); 
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    height: 100%;
}
header, main {
    border-bottom: 1px solid var(--txt-color);
    border-radius: 10px;
}
header {
    color: var(--txt-color); 

    /* position in parent grid */
    grid-row: 1;
    grid-column: 1;

    /* Flex Container */
    display: flex;
    justify-content: center;
    align-content: center;
}
header > h1 {
    margin: auto;
}
main {
    height: 100%;
    background-color: var(--bg-header-color);

    /* Position in parent grid container */
    grid-row: 2;
    grid-column: 0;
    
    /** Grid Container **/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 72% 28%;
}
.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board {
    min-height: 310px;
    min-width: 310px;
    max-height: 95vmin;
    max-width: 95vmin;
    background-color: antiquewhite;
    border-radius: 2px;

    /* Setup grid */
    display: grid;
    grid-template-rows: repeat(20,1fr); 
    grid-template-columns: repeat(20,1fr);
}
.controls {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0.5rem;
    max-height: 100%;
}
.game-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 20vh;
    max-height: 20vh;
}
.start, .pause {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}
.snake-controls { 
    height: 100%; 
    width: 100%; 
    font-size: 3rem;

    display: grid;
    grid-template-columns: auto var(--arrow-btn-size) var(--arrow-btn-size) var(--arrow-btn-size)auto; 
    grid-template-rows: auto var(--arrow-btn-size) var(--arrow-btn-size) var(--arrow-btn-size) auto; 
}

/* Layout the buttons in a way that makes sense */
.up-btn {
    grid-column: 3;
    grid-row: 2;
}
.left-btn {
    grid-column: 2;
    grid-row: 3;
}
.right-btn {
    grid-column: 4;
    grid-row: 3;
}
.down-btn {
    grid-column: 3;
    grid-row: 4;
}








/** Tablet Styles  **/
@media only screen and (min-width: var(--iphone-width + 1)) {

    
}