/* font import */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: 'Share Tech Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
}
main {
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}
header {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
header > h1 {
    margin: auto;
}
.board-container {
    display: flex;
    height: 95%;
    width: 95%;
    margin: 1rem 1rem;
}
.game-board {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    
    /* Setup grid */
    display: grid;
    grid-template-rows: repeat(21,1fr); 
    grid-template-columns: repeat(21,1fr);
}
.snake {
    background-color: hsl(200, 100%, 50%);
    border: .25vmin solid black;
}
.food {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
}
.controls {
    display: grid;
    margin: 1rem 1rem;
}
.game-controls {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.game-controls > button {
    display: flex;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.snake-controls {
    display: grid;
    grid-template-columns: repeat(3, 8vmin);
    grid-template-rows: repeat(3, 8vmin);
    margin: auto;
}
.up-btn {
    grid-column: 2;
    grid-row: 1;
}
.left-btn {
    grid-column: 1;
    grid-row: 2;
}
.right-btn {
    grid-column: 3;
    grid-row: 2;
}
.down-btn {
    grid-column: 2;
    grid-row: 3;
}